<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="automationFrameworkTests.seleniumJava.Listeners"></listener>

</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="automationFrameworkTests.seleniumJava.HeroKuappTest"/>
      <class name="automationFrameworkTests.seleniumJava.GoogleTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
